
<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
   <link rel="stylesheet" href= ".\static\styles_index.css">
   
   <title>JaNarayi</title>
</head>
<body>
  
   <div id="triangle-topright">
      
   </div>
   <a href="https://github.com/Xinrui-Fang"><img class="github" src="./static/github.svg" alt=""></a>

      <form action = "/uploader" method = "POST" 
         enctype = "multipart/form-data" >
         
         <input  type = "file" id = "file" name = "file" />
         <label for = "file">
           <i class="material-icons">
              add_circle
           </i> &nbsp;
            Choose an Audio
         </label>
         <input  type = "submit" id = "submit"/>
         <label for="submit" class="btn">
            Submit
         </label>
      </form>
   
   
</body>
</html>
